# -- ENVIRONMENT
.env
# sym link
!/arcade/.env
!/auth/.env
!/backup/.env
!/downloader/.env
!/htpc/.env
!/traefik/.env

# -- LOCAL SETTINGS
.vscode

# -- DOCKER VOLUMES
docker/volumes/*
!docker/volumes/.keep

