# -- ENVIRONMENT
.env
# sym link
!/apps/.env
!/auth/.env
!/backup/.env
!/docker/.env
!/downloader/.env
!/games/.env
!/htpc/.env
!/metrics/.env
!/storage/.env
!/traefik/.env

# -- LOCAL SETTINGS
.vscode
.old

# -- DOCKER VOLUMES
docker/volumes/*
!docker/volumes/.keep

# -- Scripts
scripts/volumes-management.sh

