# MAIN DOCKER COMPOSE FOR HOME SERVER

# -------------
# commands: 
#    - `bash scripts/init.sh`: make sure all external volumes and networks used by services has been created.
#
#    - `docker compose up -d`: start services
#    - `docker compose down`: stop services
#
#    - `docker compose logs --tail 200 -f`: see follow logs from all services
#
#    - `docker exec docker-volume-backup backup`: to manually create a new backup archive of all docker volumes (path: ${LOCAL_BACKUPS_PATH}/docker-volume-backup/)
#
# -------------

volumes:
  # -- apps
  server_apps_n8n_data:
    external: true
  server_apps_n8n_files:
    external: true
  # -- auth
  server_auth_authentik_postgresql:
    external: true
  server_auth_authentik_postgresql_dumps:
    external: true
  server_auth_authentik_redis:
    external: true
  server_auth_authentik_redis_dumps:
    external: true
  server_auth_authentik_server_media:
    external: true
  server_auth_authentik_server_templates:
    external: true
  server_auth_authentik_server_certs:
    external: true
  # -- backup
  server_backup_docker_volume_backup:
    external: true
  server_backup_duplicati_config:
    external: true
  # -- docker
  server_docker_portainer_data:
    external: true
  # -- downloader
  server_downloader_gluetun_data:
    external: true
  server_downloader_qbittorrent_config:
    external: true
  server_downloader_nzbget_config:
    external: true
  # -- games
  server_arcade_emulatorjs_config:
    external: true
  server_arcade_emulatorjs_data:
    external: true
  server_arcade_romm_library:
    external: true
  server_arcade_romm_resources:
    external: true
  server_arcade_romm_config:
    external: true
  server_arcade_romm_logs:
    external: true
  server_arcade_romm_assets:
    external: true
  server_arcade_romm_db:
    external: true
  # -- htpc
  server_htpc_prowlarr_config:
    external: true
  server_htpc_sonarr_config:
    external: true
  server_htpc_radarr_config:
    external: true
  server_htpc_overseerr_config:
    external: true
  server_htpc_doplarr_config:
    external: true
  server_htpc_plex_config:
    external: true
  server_htpc_jellyfin_config:
    external: true
  # -- metrics
  server_metrics_grafana_data:
    external: true
  server_metrics_grafana_provisioning:
    external: true
  server_metrics_prometheus_data:
    external: true
  # -- storage
  server_storage_filebrowser_db:
    external: true
  # -- traefik
  server_traefik_letsencrypt:
    external: true

networks:
  # -- used by traefik reverse proxy
  traefik_proxy:
    external: true
  # -- used to access the Docker socket securely using a socket proxy
  socket_proxy:
    external: true
  # -- used for metrics
  metrics:
    external: true

include:
- ./apps/docker-compose.yml
- ./auth/docker-compose.yml
- ./backup/docker-compose.yml
- ./docker/docker-compose.yml
- ./downloader/docker-compose.yml
- ./gaming/docker-compose.yml
- ./htpc/docker-compose.yml
- ./metrics/docker-compose.yml
- ./storage/docker-compose.yml
- ./traefik/docker-compose.yml
