volumes:
  server_apps_n8n_data:
    external: true
  server_apps_n8n_files:
    external: true
  server_apps_n8n_postgres_data:
    external: true
  server_apps_n8n_postgres_dumps:
    external: true
  server_apps_n8n_qdrant_data:
    external: true

networks:
  traefik_proxy:
    external: true
  n8n_internal:

services:
  # ----------------------------------------
  # N8N
  # Workflow automation tool
  # ----------------------------------------
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    environment:
      # -- n8n Base Config
      GENERIC_TIMEZONE: ${TZ}
      N8N_HOST: n8n.${DOMAIN}
      WEBHOOK_URL: https://n8n.${DOMAIN}/
      N8N_PORT: 5678
      N8N_PROTOCOL: https
      NODE_ENV: production
    networks:
      - traefik_proxy
      - n8n_internal
    ports:
      - ${N8N_PORT}:5678
    volumes:
      - server_apps_n8n_data:/home/node/.n8n
      - server_apps_n8n_files:/files
    labels:
      # -- traefik
      traefik.enable: true
      traefik.docker.network: traefik_proxy
      traefik.http.routers.n8n.rule: Host(`n8n.${DOMAIN}`)
      traefik.http.routers.n8n.entrypoints: websecure
      traefik.http.routers.n8n.tls.certresolver: myresolver
      traefik.http.routers.n8n.middlewares: authentik-auth
      traefik.http.middlewares.n8n.headers.SSLRedirect: true
      traefik.http.middlewares.n8n.headers.STSSeconds: 315360000
      traefik.http.middlewares.n8n.headers.browserXSSFilter: true
      traefik.http.middlewares.n8n.headers.contentTypeNosniff: true
      traefik.http.middlewares.n8n.headers.forceSTSHeader: true
      traefik.http.middlewares.n8n.headers.SSLHost: ${DOMAIN}
      traefik.http.middlewares.n8n.headers.STSIncludeSubdomains: true
      traefik.http.middlewares.n8n.headers.STSPreload: true
      # -- backup
      docker-volume-backup.stop-during-backup: n8n-service
    depends_on:
      n8n-postgresql:
        condition: service_healthy
      n8n-qdrant:
        condition: service_healthy
    restart: unless-stopped


  n8n-postgresql:
    image: docker.io/library/postgres:16-alpine
    container_name: n8n-postgresql
    user: root
    environment:
      TZ: ${TZ}
      POSTGRES_DB: ${N8N_POSTGRESQL_DB}
      POSTGRES_USER: ${N8N_POSTGRESQL_USER}
      POSTGRES_PASSWORD: ${N8N_POSTGRESQL_PASS:?database password required}
    networks:
      - n8n_internal
    ports:
      - ${N8N_POSTGRESQL_PORT}:5432
    volumes:
      - server_apps_n8n_postgres_data:/var/lib/postgresql/data
      - server_apps_n8n_postgres_dumps:/tmp/dumps
      - ../scripts/postgres-backup.sh:/postgres-backup.sh:ro
    labels:
      docker-volume-backup.exec-label: n8n-postgresql
      docker-volume-backup.archive-pre: sh -c '/postgres-backup.sh'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    restart: unless-stopped


  n8n-qdrant:
    image: qdrant/qdrant
    container_name: n8n-qdrant
    environment:
      - QDRANT__SERVICE__API_KEY=${N8N_QDRANT_SERVICE_API_KEY:?Qdrant API key required}
    networks:
      - n8n_internal
    ports:
      - ${N8N_QDRANT_PORT}:6333
      - ${N8N_QDRANT_GRPC_PORT}:6334
    volumes:
      - server_apps_n8n_qdrant_data:/qdrant/storage
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/6333' || exit 1
      interval: 5s
      timeout: 5s
      retries: 3
    restart: unless-stopped